body {
  direction: rtl;
  background-image: url(../img/sunset.jpeg);
  background-repeat: no-repeat;
  background-color: orange;
  color: crimson;
  margin-right: 20px;
}

h1 {
  font-style: italic;
  font-size: 50px;
}

p {

}

ul {

}

a {

}

a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: hotpink;
}

img {

}
